name: "polling-bot"
services:
  postgres:
      image: postgres
      env_file:
        - .env
      container_name: postgres
      ports:
        - "5432:5432"
      volumes:
        - ${HOST_DATA_LOCATION}:/var/lib/postgresql/data
  
  django:
    container_name: django
    build: 
      context: .
      dockerfile: ./Dockerfile
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./:/app/
    env_file:
      - .env
    ports:
      - 8000:8000
    depends_on:
      - postgres

  aiogram:
    container_name: aiogram
    build: 
      context: .
      dockerfile: ./Dockerfile
    command: sh -c "python manage.py migrate"
    volumes:
      - ./:/app/
    env_file:
      - .env
    depends_on:
      - postgres